.margin-auto {
  width: 90vw;
  margin: 0 auto;
  margin-top: 10px;
}

.index__body {
  width: 100%;
  height: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Spoqa Han Sans Neo",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.index__header {
  font-size: 3vw;
}

.index__article {
  width: 95vw;
  height: 3vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5vh;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

.index__h3 {
  display: block;
  margin-top: 20px;
  text-decoration: khaki dotted underline;
}

.index__btn {
  width: auto;
  height: 4vw;
  line-height: 4vw;
  padding: 0 10px;
  margin: 0 5px;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 2rem;
  font-size: 2.2vw;
}

.index__h1 {
  background: linear-gradient(to right, #46ff85, rgba(0, 0, 0, 0) 26%, #fafd79);
  font-size: 2.6vw;
}

.index__h2 {
  background: linear-gradient(to right, #e2aaaa, rgba(0, 0, 0, 0) 26%, #b3effc);
}

.index__email {
  background: linear-gradient(to right, #f3e035, rgba(0, 0, 0, 0) 26%, #c67d7d);
}

.index__phone {
  background: linear-gradient(to right, #0486fe, rgba(0, 0, 0, 0) 73%, #c9c9c7);
}

.index__insta {
  background: linear-gradient(to right, #bdd23c, rgba(0, 0, 0, 0) 26%, #9173e7);
}

.index__cv {
  background: linear-gradient(to right, #9d0707, rgba(0, 0, 0, 0) 67%, #baf9cc);
}

.index__seemore {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .index__article {
    font-size: 7vw;
    line-height: 7.5vw;
  }

  .index__btn {
    font-size: 7vw;
    height: 8vw;
    line-height: 8vw;
  }

  .index__h2 {
    font-size: 4vw;
  }
}

.projects {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project__li h6 {
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 16vh;
  color: rgba(0, 0, 0, 0.8);
}

.project__img img {
  width: 50vw;

  /* box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);*/
}

.slide {
  width: 50vw;
  height: 30vw;
  background-size: cover;
  background-position: center;
}

.slider {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
