/* body */
.index__body {
  font-family: "General Sans", sans-serif;
}

/* header */
.index__header {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.index__header h1,
.section__title {
  font-size: 24px;
}

.index__header h1:nth-child(1) {
  margin-left: 20px;
}

.index__header h1:nth-child(2) {
  margin-right: 20px;
}

/* main */
.index__main {
  width: 100vw;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: auto;
  padding: 10px 20px;
}
