.legacyIndex__body {
  font-family: "General Sans", sans-serif;
  height: fit-content;
}

.legacyIndex__margin {
  padding: 0 3em;
  margin: 0 auto;
}
/* header */
.legacy__logo {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.legacy__logo svg {
  width: 280px;
}

.legacyIndex__header-nav {
  height: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 50px 0;
}

.legacyIndex__ul {
  font-weight: 600;
}

.legacyIndex__ul:nth-of-type(2) {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.legacyIndex__ul:nth-child(1),
.legacyIndex__ul:nth-of-type(3) {
  width: 20%;
}
.legacyIndex__ul:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

/* main */
.legacyIndex__main {
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 2px solid black;
}

.legacyIndex__main section {
  width: 49%;
  height: 100vh;
}

.legacyIndex__main section:nth-child(2) {
  border-left: 2px solid black;
}

.legacyIndex__main-ul {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  font-weight: 500;
}

.legacyIndex__main-li {
  border-bottom: 2px dashed black;
  padding: 10px;
  display: flex;
  align-items: center;
}

.legacyIndex__main-li {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.legacyIndex__main-img {
  background-size: 100% 100%;
}

.legacyIndex__main-li:last-child {
  border-bottom: none;
}

.legacyIndex__main-li:hover {
  text-shadow: 0 0 1em gray, 0 0 0.2em black;
  cursor: pointer;
}

.legacyIndex__main-li:nth-child(1):hover {
  background-image: url(../img/1.jpeg);
}

.legacyIndex__main-li:nth-child(2):hover {
  background-image: url(../img/men.jpeg);
}

.legacyIndex__main-li:nth-child(3):hover {
  background-image: url(../img/women.jpeg);
}

.legacyIndex__main-li:nth-child(4):hover {
  background-image: url(../img/118.jpeg);
}

.legacyIndex__main-li:nth-child(5):hover {
  background-image: url(../img/118story.jpeg);
}

.legacyIndex__main-li:nth-child(6):hover {
  background-image: url(../img/big.jpeg);
}

.legacyIndex__main-li:nth-child(7):hover {
  background-image: url(../img/boots.jpeg);
}

.legacyIndex__main-li:nth-child(8):hover {
  background-image: url(../img/wave.jpeg);
}

.legacyIndex__main-li:nth-child(9):hover {
  background-image: url(../img/print.jpeg);
}

.legacyIndex__main-li:nth-child(10):hover {
  background-image: url(../img/store.jpeg);
}

.legacyIndex__main-img {
  width: 100%;
  height: 100%;
  background-image: url(../img/main.jpeg);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* transform: scale(0.95); */
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%; */
}

/* jsImg-toggleClass */
.img__workshop {
  background-image: url(../img/1.jpeg);
}

.img__mensNew {
  background-image: url(../img/men.jpeg);
}

.img__womensNew {
  background-image: url(../img/women.jpeg);
}

.img__118 {
  background-image: url(../img/118.jpeg);
}

.img__118story {
  background-image: url(../img/118story.jpeg);
}

.img__big {
  background-image: url(../img/big.jpeg);
}

.img__boots {
  background-image: url(../img/boots.jpeg);
}

.img__wave {
  background-image: url(../img/wave.jpeg);
}

.img__print {
  background-image: url(../img/print.jpeg);
}

.img__store {
  background-image: url(../img/store.jpeg);
}

.nav__hover:hover {
  text-shadow: 0 0 1em gray, 0 0 0.2em black;
  cursor: pointer;
}
